ErrorDocument 403 /competence6/view/error.php
ErrorDocument 404 /competence6/view/error.php
ErrorDocument 405 /competence6/view/error.php
ErrorDocument 408 /competence6/view/error.php
ErrorDocument 500 /competence6/view/error.php
ErrorDocument 502 /competence6/view/error.php
ErrorDocument 504 /competence6/view/error.php

RewriteEngine On
RewriteRule ^([^_]*)_([^_]*)\.html$ /competence6/?p=$1&a=$2 [L]
RewriteRule ^([^_]*)_([^_]*)_([^_]*)\.html$ /competence6/?p=$1&a=$2&id=$3 [L]
RewriteRule ^([^_]*)_([^_]*)_([^_]*)_([^_]*)_([^_]*)\.html$ /competence6/?p=$1&a=$2&postid=$3&commentId=$4&vote=$5 [L]
